[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
feedparser = "*"
flask = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
